= render "shared/logo"

%nav.navbar.navbar-default{ role: "navigation" }
  .navbar-header
    %button.navbar-toggle{ type: "button", 'data-toggle' => "collapse", 'data-target' => ".navbar-ex1-collapse" }
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Home", root_path, title: "Home"
      %li
        = link_to "About", about_path, title: "About"
      %li
        = link_to "Support", support_path, title: "Support"
      %li
        = link_to "Terms", legal_path, title: "Terms"
      %li
        = link_to "Feedback", "#", title: "Feedback"
          
    %form.navbar-form.navbar-left{ role: "search" }
      .form-group
        %input.form-control{ type: "text", placeholder: "Search" }
      %button.btn.btn-default{ type: "submit" } Submit