.row
  .col-xs-12.col-sm-6.col-md-5.col-lg-4
    = render "shared/logo"

  .col-xs-12.col-sm-6.col-md-7.col-lg-8
    %nav{ class: "navbar navbar-default", role: "navigation" }
      %ul.nav.navbar-nav
        %li
          = link_to "Home", root_path, title: "Home"
        %li
          = link_to "About", about_path, title: "About"
        %li
          = link_to "Support", support_path, title: "Support"
        %li
          = link_to "Terms", legal_path, title: "Terms"